USE [master]
GO
CREATE DATABASE [Contacto] ON  PRIMARY 
( NAME = N'Contacto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Contacto.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Contacto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Contacto_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Contacto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Contacto]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TblContacto](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [TblContacto] ([Id], [Nombre], [Telefono]) VALUES (1, N'juana de Arco', N'1234567')
INSERT [TblContacto] ([Id], [Nombre], [Telefono]) VALUES (2, N'pepitoxx', N'123456')
INSERT [TblContacto] ([Id], [Nombre], [Telefono]) VALUES (3, N'Sebastian', N'1224168')
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [SPContacto]
	@opc int,
	@Id int = null,
	@Nombre varchar(50) = null,
	@Telefono varchar(20) = null
AS

if @opc = 1
begin
	select * from TblContacto
end

IF @opc = 2
BEGIN
	INSERT INTO dbo.TblContacto(Id,Nombre, Telefono)
	VALUES (@Id,@Nombre,@Telefono)
END

IF @opc =3
BEGIN
	update dbo.TblContacto SET 
	Nombre = @Nombre,Telefono = @Telefono
	WHERE Id = @Id
END

If @opc = 4
BEGIN
	DELETE FROM dbo.TblContacto
	WHERE Id = @Id

END

GO
USE [master]
GO
